.Container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 10px auto;
  padding: 20px;
}

.MovieInfo {
  display: flex;
  /* margin-top: 10px; */
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(201, 201, 201);
}

.MovieInfoImg {
  width: 250px;
}
.MovieInfoWrapper {
  /* display: flex; */
  margin-left: 20px;
  margin-top: 10px;
}

.GenresList {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.GenresItem {
  margin-right: 5px;
}

.AdditionalInfoWrapper {
}

.backBtn {
  position: sticky;
  top: 50px;
}
