.navbar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  box-shadow: 0 2px 4px lightgrey;
  z-index: 100;
  background-color: #fff;
}

.navbarList {
  display: flex;
  list-style: none;
}

.navbarLink {
  text-decoration: none;
}

.navbarItem {
  margin-left: 10px;
  font-weight: 500;
  cursor: pointer;
}

.navbarItem:nth-child(1),
.navbarLink:nth-child(1):visited {
  color: rgb(243, 62, 62);
  font-weight: bold;
  margin-right: 20px;
}
