.navbar {
  display: flex;
  box-shadow: 0 2px 4px lightgrey;
}

.navbarList {
  display: flex;
  list-style: none;
}

.navbarItem {
  margin-left: 10px;
  font-weight: 500;
  cursor: pointer;
}

.navbarItem:nth-child(1) {
  color: indianred;
}
