.navbar {
  display: flex;
  justify-content: flex-start;
  position: sticky;
  top: 0px;
  /* max-width: 1200px; */
  box-shadow: 0 2px 4px lightgrey;
  z-index: 100;
  background-color: #fff;
}

.navbarList {
  display: flex;
  list-style: none;
}

.navbarLink {
  text-decoration: none;
}

.navbarItem {
  margin-left: 10px;
  font-weight: 500;
  cursor: pointer;
}

.navbarItem:nth-child(1) {
  color: indianred;
}
